<div class="maindiv">
<h1>Add New Weather Conditions</h1>

<form action='/conditions/new' method="post">
<label for =""> Date:</label>
<input type="textfield" placeholder="Date" name="weather[date]"/><br>
<label for =""> Max Temperature:</label>
<input type="textfield" placeholder="Max Temperature" name="weather[max_temp]"/><br>
<label for =""> Mean Temperature</label>
<input type="textfield" placeholder="Mean Temperature" name="weather[mean_temp]"/><br>
<label for = "">Min Temperature:</label>
<input type="textfield" placeholder="Min Temperature" name="weather[min_temp]"/><br>
<label for = ""> Mean Humidity:</label>
<input type="textfield" placeholder="Mean Humidity" name="weather[mean_humidity]"/><br>
<label for = "">Mean Visibility:</label>
<input type="textfield" placeholder="Mean Visibility" name="weather[mean_visibility_miles]"/>
<label for = "">Mean Wind Speed:</label>
<input type="textfield" placeholder="Mean Wind Speed" name="weather[mean_wind_speed]"/>
<label for = "">Precipitation:</label>
<input type="textfield" placeholder="Precipitation" name="weather[precipitation]"/>
<input type="submit" value="Add New Weather Condition" />
</form>
</div>