<h1> Add a New Trip </h1>

<form action="/trips/new" method="post">
  <label for=""> Duration:</label>
  <input type="textfield" placeholder="Duration" name="trip[duration]"/><br>
  <label for="">Start Date:</label>
  <input type="textfield" placeholder="Start Date" name="trip[start_date]" /><br>
  <label for="">Start Station:</label>
  <input type="textfield" placeholder="Start Station" name="trip[start_station]" /><br>
  <label for="">End Date:</label>
  <input type="textfield" placeholder="End Date" name="trip[end_date]" /><br>
  <label for="">End Station:</label>
  <input type="textfield" placeholder="End Station" name="trip[end_station]" /><br>
  <label for="">Bike ID:</label>
  <input type="textfield" placeholder="Bike ID" name="trip[bike_id]" /><br>
  <label for="">Subscription Type:</label>
  <input type="textfield" placeholder="Subscription Type" name="trip[subscription_type]" /><br>
  <label for="">Zip Code:</label>
  <input type="textfield" placeholder="Zip Code" name="trip[zip_code]" /><br>
  <input type="submit" value="Add New Trip" />
</form>
