<h1> Add a New Trip </h1>

<form action="/trips/new" method="post">
  <label for=""> Duration:</label>
  <input type="textfield" placeholder="Duration" name="trip[duration]"/><br>
  <label for="">Start Date:</label>
  <input type="textfield" placeholder="Start Date" name="trip[start_date]" /><br>
  <label for="">Start Station:</label>
  <select name="trip[start_station_id]">
    <% @stations.each do |station| %>
        <option value="<%= station.id %>"><%=station.name%></option>
    <% end %>
  </select></br>

  <label for="">End Date:</label>
  <input type="textfield" placeholder="End Date" name="trip[end_date]" /><br>
  <label for="">End Station:</label>
  <div id="dropdown">

  <select name="trip[end_station_id]">
    <% @stations.each do |station| %>
        <option value="<%= station.id %>"><%=station.name%></option>
    <% end %>
  </select></br>  <label for="">Bike ID:</label>
</div>
  <input type="textfield" placeholder="Bike ID" name="trip[bike_id]" /><br>
  <label for="">Subscription Type:</label>
  <input type="textfield" placeholder="Subscription Type" name="trip[subscription_id]" /><br>
  <label for="">Zip Code:</label>
  <input type="textfield" placeholder="Zip Code" name="trip[zip_code]" /><br>
  <input type="submit" value="Add New Trip" />
</form>
