<h1>Trips Dashboard</h1>



Average duration of a ride.
Longest ride.
Shortest ride.
Station with the most rides as a starting place.
Station with the most rides as an ending place.
Month by Month breakdown of number of rides with subtotals for each year.
Most ridden bike with total number of rides for that bike.
Least ridden bike with total number of rides for that bike.
User subscription type breakout with both count and percentage.
Single date with the highest number of trips with a count of those trips.
Single date with the lowest number of trips with a count of those trips