<h1>Stations in Greater San Francisco</h1>
<th>Name</th>
<th>City</th>
<th>Date Installed</th>
<th>Number of Docks</th>
<br />
<% @stations.each do |station| %>
  <tr>
    <td> <%= station.name %> </td>
    <td> <%= station.city %> </td>
    <td> <%= station.installation_date %> </td>
    <td> <%= station.dock_count %> </td>
  </tr>
  <br />
  <% end %>
