<h1> Add a New Station</h1>


<div class="maindiv">
</br>
</br>
<form action="/stations/new" method="post">
  <label for="">Name:</label>
  <input type="textfield" placeholder="Name of station" name="station[name]"><br>
  <label for="">City:</label>
  <input type="textfield" placeholder="City" name="station[city]"><br>
  <label for="">Date Installed:</label>
  <input type="textfield" placeholder="Date installed" name="station[installation_date]"><br>
  <label for="">Number of bike docks:</label>
  <input type="textfield" placeholder="Number of bike docks" name="station[dock_count]"><br>
  <input type="submit" value="Add New Station" />
  </br>
  </br>
</form>
</div>
