body {
  background-image: url("./bycicle2.jpg");
  background-size:cover;
  text-align: center;
}

<-- #greeting {
font-size: 50px;
color:lightblue;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
} -->
 
#new {
  font-size: 20px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
}

table {
  margin-left:auto;
  margin-right:auto;
}

table, th, td {
  border: 1px solid black;
}

.container-fluid{
    background-color:lightblue;
    border-color:steelblue;
    opacity:0.8;
}

.maindiv{
  background-color: lightcoral;
  margin: 100px 250px;
  opacity: 0.9;
}

input[type=textfield], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
