<!-- <h1>Bikesharing dashboard</h1> -->
<h1>Bikesharing in Greater San Francisco</h1>
<a href="/stations/index">View All Stations</a>
<a href="/stations/new">Add Stations</a>
<a href="/station-dashboard">Station Dashboard</a>
