<div class="panel panel-danger">
  <div class="panel panel-heading">
    <h1>Stations in Greater San Francisco</h1>
  </div>
  <div class="panel-body">
      <button type="button" class="btn btn-info"><a href="/stations/index">
        <strong>View Stations</strong></a>
      </button>
      <button type="button" class="btn btn-info"><a href="/stations/new">
        <strong>Add New Station</strong></a>
      </button>
  </div>
</div>
