<h1 id='greeting'>Trips Dashboard</h1>

<a href="/trips/new" method="get">New Trip</a>

<table border="1">
  <tr>
    <th>Interesting Bicycle Queries</th>
    <th>Interesting Bicycle Answers</th>
  </tr>
  <tr>
    <td>Average duration of a ride.</td>
    <td>Answer</td>
  </tr>
  <tr>
    <td>Longest ride</td>
    <td>Answer</td>
  </tr>
  <tr>
    <td>Shortest ride</td>
    <td>Answer</td>
  </tr>
  <tr>
    <td>Most Popular Start Stat.</td>
    <td>Answer</td>
  </tr>
  <tr>
    <td>Most Popular End Stat.</td>
    <td>Answer</td>
  </tr>
  <tr>
    <td>Most Popular Bike</td>
    <td>Answer</td>
  </tr>
  <tr>
    <td>Least Popular Bike</td>
    <td>Answer</td>
  </tr>
  <tr>
    <td>Subscription Type Breakdowntd>
    <td>Answer</td>
  </tr>
  <tr>
    <td>Most Popular Date</td>
    <td>Answer</td>
  </tr>
  <tr>
    <td>Least Popular Date</td>
    <td>Answer</td>
  </tr>
  <tr>
    <td>Average duration of a ride.</td>
    <td>Answer</td>
  </tr>

</table>



Month by Month breakdown of number of rides with subtotals for each year.

Single date with the highest number of trips with a count of those trips.
Single date with the lowest number of trips with a count of those trips
